@{
    ViewData["Title"] = "CheckIn";
}
<html>
<body>
<form method="post" action="">
    
    Book ID:<br />
    <input type="text" name="bookId" value="" /><br /><br />
    
    Number of copies:<br />
    <input type="number" name="checkInCopies" value="" /><br />
    <input type="submit" value="Submit" class="submit" />
</form>

</body> 
</html>