@{
    ViewData["Title"] = "Edit";
}
<html>
<body>
<form method="post" action="">
            First Name:<br />
            <input type="text" name="firstname" value=@Model.FirstName /><br /><br />
            Last name:<br />
            <input type="text" name="lastname" value=@Model.LastName /><br /><br />
            <input type="submit" value="Submit" class="submit" />
        </form>

</body> 
</html>
