@{
    ViewData["Title"] = "Create";
}
<html>
<body>
<form method="post" action="">
            Number of copies:<br />
            <input type="number" name="Copies" value="" /><br />
            Book Title:<br />
            <input type="text" name="Title" value="" /><br /><br />
            Author:<br />
            <input type="text" name="Author" value="" /><br /><br />
            <input type="submit" value="Submit" class="submit" />
        </form>

</body> 
</html>
